.navBarLinks{
    display: flex;
    list-style: none;

}
.Links{
    text-decoration: none;
    color: ivory;
    font-weight: bold;
}
.Links:hover{
    text-decoration: underline;

}
.navBarLinks>li{
    padding: 10px;
}